.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
  }
  
  main {
    flex: 1;
  }
  
  .product-card, .cart-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    text-align: center;
    background:radial-gradient(circle,#3cd8ec, #0f65b4 );
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  }

  .nombre-card {
    font-size: x-large;
    text-transform: uppercase;
  }

  .precio-card {
    font-size: xx-large;
    margin: 5px;
  }

  .promocion-card {
    font-size: xx-large;
    margin: 5px;
  }
  
  .product-card img, .cart-item img {
    width: 120px;
    height: auto;
    border-radius: 8px;
  }
  
  button {
    background-color: var(--color-secundario);
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  }
  
  button:hover {
    background-color: #38bce1;
  }
  
  @media (max-width: 768px) {
    .category-menu {
      flex-wrap: wrap;
      gap: 10px;
    }
  
    .product-card, .cart-item {
      width: 100%;
      margin: 10px 0;
    }
  }
  