.header {
    background-color: #8fe3ee;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .header nav a {
    display: flex;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    background-color: #0f65b4;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
  }
  .header nav a:hover {
    background-color: #38bce1;
  }
  /*
  .header .link-carrito {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
    */
  .logo-mass {
    width: 120px
  }
  
  .cart-icon {
    width: 24px;
    height: 24px;
  }
  